:root {
  /*  Colours */
  --light_clr: #f5d2f6;
  --dark_clr: #303047;
}

main {
  margin-left: 5px;
}

#main-para {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--dark_clr);
  margin-bottom: 2rem;
}

p,
li {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--dark_clr);
}

u {
  font-weight: 700;
}

b {
  font-weight: 800;
}

#suggestion_list {
  list-style: disc;
  margin-bottom: 2rem;
}

#api_suggestion_para {
  font-weight: 700;
}

#search-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  max-height: 25px;
}

input {
  background-color: var(--light_clr);
  border: 1px solid var(--dark_clr);
  color: var(--dark_clr);
}

input::placeholder {
  color: var(--dark_clr);
}

input:focus,
input:active,
input::selection {
  background-color: var(--light_clr);
  color: var(--dark_clr);
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#search-btn {
  background-color: var(--dark_clr);
  color: var(--light_clr);
  border-style: none;
  padding: 3px;
}

#master-div {
  display: flex;
  flex-direction: row;
  position: relative;
  /* left: -30%; */
  margin-right: auto;
  margin-left: auto;
}

#info-div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  max-width: 40%;
  /* left: -30%; */
  /* margin-right: auto; */
  border: 1px solid var(--dark_clr);
  color: var(--dark_clr);
  margin-bottom: 5vh;
}

#name-paragraph {
  border: 1px solid var(--dark_clr);
  border-top: none;
  color: var(--dark_clr);
}

/* #evolves-from-paragraph {
} */

#poke-image {
  height: 8rem;
  width: 8rem;
}
