@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@700&display=swap");

/* @font-face {
  font-family: Roboto;
  src: url();
} */

* {
  padding: 0;
  margin: 0;
}

:root {
  /*  Colours */
  /*--header_clr: #dca99e;*/
  --header_clr: #d66afb;
  --nav_clr: #68f7ff;
  --btn_clr: #e9caff;
  --btn_hover_clr: #ddc1f2;

  --btn_txt_clr: #8030ba;
  /* --body_clr: #fbf5ef; */ /* bone white */
  --body_clr: #f9effb;
  /* --hr_clr: #f5ede5; */
  --hr_clr: #f5e4f8;
}

h1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  padding: 20px;
  font-size: 60px;
}

h2,
h3 {
  padding-bottom: 0.5rem;
}

h4 {
  padding: 2px;
  padding-top: 5px;
  text-decoration: underline;
}

header {
  background-color: var(--header_clr);
  display: flex;
  flex-wrap: wrap;
  min-height: 9vh;
  position: relative;
  font-family: roboto;
  font-size: larger;
}

nav {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--nav_clr);
  /* min-height: 10px;
  max-height: 2vh; */
  height: 5px;
}

.first_button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.last_button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#nav-button {
  min-height: 30px;
  border-color: var(--nav_clr);
  background-color: var(--btn_clr);
  border-left: 1px solid var(--nav_clr);
  border-right: 1px solid var(--nav_clr);
  border: 2px solid var(--nav_clr);
}

#nav-button:hover,
#nav-button:active {
  background-color: var(--btn_hover_clr);
}

.header_btn {
  text-decoration: none;
  color: var(--btn_txt_clr);
  padding: 10px;
  font-size: medium;
  font-weight: 600;
}

h1 {
  flex-basis: 100%;
}

h4 {
  margin-bottom: 0.5rem;
}

#home-main {
  display: block;
  text-align: center;
}

body {
  background-color: var(--body_clr);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  /* min-height: 80vh; /*consider making smaller */
  min-height: 70vh;
}

#main-el {
  min-height: 30vh;
}

hr {
  margin: 5vh;
  /* color: var(--hr_clr);*/
  height: 3px;
  border: 1px;
  background-color: var(--hr_clr);
}

/*footer {
  background-color: red;
}*/

#copy-paragraph {
  margin-left: 2vh;
}

.ticbox {
  height: 10vh;
  width: 30%;
  background-color: rgb(192, 173, 209);
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: ;
}

.tic_text {
  font-size: x-large;
  font-weight: bolder;
}

.flex_break {
  flex-basis: 100%;
  width: 0;
}

#grid-container {
  width: 30vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#message-el {
  min-height: 0.5rem;
  min-width: 1rem;
  position: absolute;
  left: 2%;
  bottom: 65%;
}
