@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@700&display=swap");

/* @font-face {
  font-family: Roboto;
  src: url();
} */

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, roboto;
  font-weight: 500;
}

:root {
  /*  Colours */
  /*--header_clr: #dca99e;*/
  --header_clr: #d66afb;
  --light_clr: #f5d2f6;
  /*old--dark_clr: #938de2;*/
  /*darker old --dark_clr: #716cad; */
  --dark_clr: #303047;
  --nav_clr: #68f7ff;
  --btn_clr: #e9caff;
  --btn_hover_clr: #201f2e;
  --h1_clr: #423f3f;
  --btn_txt_clr: #8030ba;
  /* --body_clr: #fbf5ef; */ /* bone white */
  --body_clr: #fbe1ff;
  /*old body color #f9effb*/
  /* --hr_clr: #f5ede5; */
  --hr_clr: #f5e4f8;
}

h1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  padding: 20px;
  font-size: 60px;
  color: var(--dark_clr);
  font-weight: 700;
}

h2 {
  position: relative;
  align-self: center;
  margin-bottom: 1rem;
  text-decoration: underline;
  color: var(--dark_clr);
}

h3,
#project_list_container {
  /*merge with below h2, h3 ruleset*/
  border: 1px solid var(--dark_clr);
  border-radius: 10px;
  max-width: max-content;
  /*padding-bottom: 0.5rem;*/
  background-color: var(--light_clr);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  padding: 2px;
  color: var(--dark_clr);
}

main h3 {
  padding: 6px;
}

h4 {
  padding: 2px;
  padding-top: 5px;
  text-decoration: underline;
}

header {
  /* background-color: var(--header_clr); */
  background-color: var(--light_clr);
  display: flex;
  flex-wrap: wrap;
  min-height: 9vh;
  position: relative;
  font-family: roboto;
  font-size: larger;
}

nav {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--dark_clr);
  /* min-height: 10px;
  max-height: 2vh; */
  height: 5px;
  margin: 0px 5% 0px 5%;
}

#first_button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 2px solid var(--dark_clr);
}

#last_button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid var(--dark_clr);
}

.nav-button {
  height: 40px;
  /* border-color: var(--nav_clr); */
  border-color: var(--dark_clr);
  /*  background-color: var(--light_clr); */
  background-color: var(--dark_clr);
  border-left: 1px solid var(--light_clr);
  border-right: 1px solid var(--light_clr);
  border-style: solid;
  /* border: 2px solid var(--nav_clr); */
  /* border: 2px 2px 2px 2px, solid, var(--nav_clr); */
}

.nav-button:hover,
.nav-button:active {
  background-color: var(--btn_hover_clr);
}

.header_btn {
  text-decoration: none;
  /* color: var(--dark_clr); */
  color: var(--light_clr);
  padding: 10px;
  font-size: medium;
  font-weight: 600;
}

h1 {
  flex-basis: 100%;
  opacity: 1;
}

h4 {
  margin-bottom: 0.5rem;
}

#home-main {
  display: block;
  text-align: center;
}

body {
  background-color: var(--light_clr);
}

#background-div {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 3;
}

#background-image {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 2560px;
  height: 1440px;
  opacity: 0.2;
  background-size: cover;
  pointer-events: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 2px;
  position: relative;
  margin-top: 2rem;
  /* min-height: 80vh; /*consider making smaller */
  min-height: 70vh;
}

ul {
  list-style: none;
  padding: 5px;
}

.home-body-link {
  color: var(--dark_clr);
  font-weight: 700;
}

#main-el {
  /*   min-height: 30vh; */
  display: block;
}

hr {
  margin: 0px 5% 0px 5%;
  /* color: var(--hr_clr);*/
  height: 3px;
  border: 1px;
  background-color: var(--dark_clr);
}

/*footer {
  background-color: red;
}*/

#copy-paragraph {
  margin: 0px 5% 0px 5%;
  color: var(--dark_clr);
  position: relative;
  bottom: -4rem;
}

.ticbox {
  height: 30%;
  width: 30%;
  background-color: var(--light_clr);
  border: 2px solid var(--dark_clr);
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: ; */
}

.tic_text {
  font-size: x-large;
  font-weight: bolder;
  color: var(--dark_clr);
}

.flex_break {
  flex-basis: 100%;
  width: 0;
}

#grid-container {
  width: 30vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* position: relative;
  left: 40%;
  top: 35%; */
  height: 255px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#message-el {
  min-height: 0.5rem;
  min-width: 1rem;
  max-width: 10rem;
  /* position: relative; */
  /* left: 45%;
  top: 70%; */
  color: var(--dark_clr);
  font-size: large;
  font-weight: 700;
  border: 2px solid var(--dark_clr);
  padding: 3px;

  margin: 0 auto 2px auto;
  text-align: center;
}

@media screen and (max-width: 715px) {
  #home_h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 555px) {
  #home_h1 {
    font-size: 40px;
  }
  #home-main {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 605px) {
  h1 {
    font-size: 45px;
  }

  .header_btn {
    font-size: 87%;
    padding: 1px;
    font-weight: 700;
  }

  #first_button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #last_button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  nav {
    margin: 0px 7px 0px 7px; /*change to 1 or 2 px*/
  }
  .nav-button {
    min-width: 23%;
    max-width: min-content;
  }
}
